.App {
  display: grid;
  align-items: center;
  text-align: center;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3rem;
  padding: 3rem 0;
}

.hide-events-btn,
.show-events-btn {
  padding: 10px;
  margin: 1rem;
  border-radius: 10px;
}
.hide-events-btn:hover,
.show-events-btn:hover {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.add-new-event-btn {
  padding: 10px;
  margin-top: 1rem;
  border-radius: 10px;
}
.add-new-event-btn:hover {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.delete-btn {
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.delete-btn:hover {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.my-events h2 {
  font-size: 30px;
}
